.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 24px;
}
.headerPart1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerPart1>div {
    margin-right: 32px;
}
.headerPart3{
    display: flex;
    flex-direction: row;
}